<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542629661146-4lf4aedl7pe10bm33j755jb6vjmpv07c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542629661146-4lf4aedl7pe10bm33j755jb6vjmpv07c</string>
	<key>API_KEY</key>
	<string>AIzaSyBGHr0zTXmZUbe0ugrk_hj03uNPbHVK6zw</string>
	<key>GCM_SENDER_ID</key>
	<string>542629661146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.denizataes.Seans</string>
	<key>PROJECT_ID</key>
	<string>seans-22444</string>
	<key>STORAGE_BUCKET</key>
	<string>seans-22444.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542629661146:ios:c5e4c8a6c89f71c09c18e3</string>
</dict>
</plist>